  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px 24px 160px;
    position: absolute;
    width: 1600px;
    height: 100px;
    left: 0;
    top: 0;
}

.nav-logo{
    font-weight: bold;
    font-size: 32px;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 18px;
}

.nav-btn{
    background-color: white;
    color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-size: 18px;
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
}

/* hero styles */
.hero{
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 160px 80px;
    padding: 60px 160px;
    gap: 64;
}

.hero-content{

}

.hero-1{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
    margin-top: 0%;
}

.hero-2{
    font-size: 56px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    width: 620px;
    height: 201px;
    text-align: left;
    margin-bottom: 24px;
    margin-top: 0%;
}

.hero-btn{
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 17px 34px;
    margin: 0px;
}

.hero-img{
    width: 474.03px;
}

/* 1st section styles */
.section-1{
    margin: 0px 160px ;
}

.section-1-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}

.section-1-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 32px;
    width: 1280px;
}

.visions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 1280px;
}

.vision-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    width: 410.67px;
    height: 325px;
}

.vision-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    width: 410.67px;
    height: 325px;
}

.vision-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 24px;
    width: 410.67px;
    height: 325px;
}
.vision-img{
    margin-bottom: 0px;
}

.vision-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 0;
}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 12;
    margin-bottom: 24;
}

.vision-btn-1{
    background-color: rgb(84, 144, 245);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    margin-top: 0px;
}

.vision-btn-2{
    background-color: rgb(9, 161, 92);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    margin-top: 24px;
}

.vision-btn-3{
    background-color: rgb(255, 194, 57);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    margin-top: 40px;
}

/* quote-section-styles */
.quote-section{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 32px 160px 0px;
    padding: 48px 24px;
    width: 1280px;
    height: 256px;
}

.quote-img{
    margin-top: -18px;
    margin-bottom: 0px;
}

.quote-1{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: -42px;
    margin-bottom: 12px;
}

.quote-2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 4px;
}

.quote-3{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* News-section */
.news-section{
    margin: 0px 160px ;
    width: 1280px;
}
.news-border{
    border-radius: 24px;
    background: rgb(255, 255, 255);
    border: 1px solid #00000010;
    display: flex;
    gap: 32px;
    padding: 48px;
    margin-bottom: 24px;
}
.news-img{
    border-radius: 24px;
}
.news-head{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 12px 0px;
    width: 744px;
}
.news-al-img{
    margin: 12px 0px;
    width: 134px;
    height: 40px;
}
.news-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 12px 0px;
}
.news-btn{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    border: none;
}

/* donate-section */
.donate-section{
    margin: 0px 160px ;
}
.donate-tk-section{
    display: flex;
    gap: 24px;
}
.donate-tk{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 40px;
}
.input-item{
    display: flex;
    ;
}
.donate-h{

}
.input-tk{

}
.donate-btn{

}
/* newsletter-section */
.newsletter-section{
    margin: 0px 160px ;
}
.newsletter-input{

}
.newsletter-btn{

}
.newsletter-p{
    
}

span{
    display: flex;
    gap: 12px;
}
.center{
    text-align: center;
}